@import "colors.css";

* {
    font-family: "Hack Nerd Font", monospace;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
}

.modules-left,
.modules-right {
    background-color: @base00;
    border-radius: 8px;
    padding: 2px 10px;
    margin: 2px 0;
}

#workspaces button {
    background: transparent;
    padding: 3px 3px;
    border: none;
    margin: 0 4px;
}

#workspaces button.empty {
    color: @base03;
}

#workspaces button.active {
    color: @base0C;
}

#workspaces button:not(.active):not(.empty) {
    color: @base05;
}

#mpris {
    color: @base0E;
    padding: 0 10px 0 13px;
}

#mpris.paused,
#mpris.stopped {
    color: @base04;
}

#mpris {
    border-left: 1px solid @base03;
}

#cpu,
#memory,
#disk,
#custom-public-ip,
#clock {
    padding: 0 10px;
}

#cpu { color: @base0C; }
#memory { color: @base0D; }
#disk { color: @base04; }
#custom-public-ip { color: @base04; }
#clock { color: @base05; }

#cpu,
#memory,
#disk,
#custom-public-ip {
    border-right: 1px solid @base03;
}

