set previewer ~/.config/lf/preview.sh

cmd open &{{`{{`}}
    OPEN="{{ if eq .chezmoi.os "linux" }}xdg-open{{ else }}open{{ end }}"
    case $(file --mime-type -Lb "$f") in
        text/*|application/json|application/xml|application/javascript)
            lf -remote "send $id \$nvim \"$f\""
            ;;
        *)
            $OPEN "$f" &
            ;;
    esac
{{`}}`}}


cmd on-select &{{`{{`}}
    exec lf -remote 'send redraw'
{{`}}`}}

