set previewer ~/.config/lf/preview.sh

{{ if eq .chezmoi.os "linux" -}}
OPEN="xdg-open"
{{- else -}}
OPEN="open"
{{- end }}

cmd open &{{`{{`}}
    case $(file --mime-type -Lb "$f") in
        text/*|application/json|application/xml|application/javascript)
            lf -remote "send $id \$nvim \"$f\""
            ;;
        *)
            $OPEN "$f" &
            ;;
    esac
{{`}}`}}


cmd on-select &{{`{{`}}
    exec lf -remote 'send redraw'
{{`}}`}}

